/* ---------------------------
   Custom Root Variables
--------------------------- */
:root {
    --background: #F0F2F3;
    --foreground: #171717;
    --gap: 1vw;
    --section-radius: .6rem;
}

/* ---------------------------
   Global Reset
--------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;        /* Make full height for h-screen to work */
  margin: 0;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: "Pretendard", system-ui, sans-serif;
}

img, video {
  max-width: 100%;
  height: auto;
}

img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
}

/* ---------------------------
   Utility Classes
--------------------------- */
.flex { display: flex; }
.flex-col { flex-direction: column; }
.flex-row { flex-direction: row; }
.items-center { align-items: center; }
.justify-center { justify-content: center; }
.justify-between { justify-content: space-between; }
.grow { flex-grow: 1; }

.w-full { width: 100%; }
.w-fit { width: fit-content; }
.w-half { width: 50%; }
.h-14 { height: 3.01vw; }

.p-4 { padding: 1vw; }
.gap-2 { gap: 1vw; }
.gap-4 { gap: 1vw; }
.gap-8 { gap: 2vw; }

.rounded-md { border-radius: .5rem; }
.text-left { text-align: left; }
.text-white { color: white; }
.bg-white { background-color: white; }
.bg-black { background-color: black; }
.cursor-pointer { cursor: pointer; }

.overflow-y-auto {
  overflow-y: auto;
  height: 100%;          /* Ensure scrollable area fills sidebar */
}

input, button {
  border: none;
  outline: none;
}

p { margin: 0; height: fit-content; }

